<!-- Janus -->
<script type="text/javascript" src="public/thirdparty/js/adapter.js"></script>
<script type="text/javascript" src="public/thirdparty/js/janus.js"></script>

<!-- Custom -->
<script type="text/javascript" src="public/project/js/stream-context.js"></script>
<script type="text/javascript" src="public/project/js/audio-widget.js"></script>
<script type="text/javascript" src="public/project/js/webrtc.js"></script>
<script type="text/javascript" src="public/project/js/ir-light.js"></script>
<script type="text/javascript" src="public/project/js/dht.js"></script>
<script type="text/javascript" src="public/project/js/video-player.js"></script>
<script type="text/javascript" src="public/project/js/pan-tilt.js"></script>