<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="public/project/img/baby.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p id="name">Name</p>
            <!-- Status -->
            <a id="age">Age</a>
            <script type="text/javascript">
                $("#name").text(config.baby_name);
                $(document).ready(function () {
                    $("#age").text(AgeCalc.getAge(new Date(config.baby_birthday)));
                });
            </script>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active">
            <a href="/">
                <i class="fa fa-link"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-gear"></i>
                <span>Settings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="/settings">App</a>
                </li>
                <li>
                    <a href="/settings">Motion</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
