figure {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

video {
    width: 100%;
}

.controls,
.controls > * {
    padding: 0;
    margin: 0;
}

.controls {
    table-layout: fixed;
    overflow: hidden;
    background: transparent;
    width: 100%;
    height: 8.0971659919028340080971659919028%; /* of figure's height */
    position: relative;
    border-top-style: solid;
    border-top-width: 1px;
}

td {
    width: 20%;
    text-align: center;
}

.controls button {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    cursor: pointer;
    font-size: medium;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.sliderDiv {
    background: transparent;
}

.slider {
    width: 50% !important;
    background: transparent;
}

.slider-handle.custom::before {
    line-height: 15px;
    font-size: 15px;
    content: '\26AB';
    color: black;
}

.slider-handle.custom {
    background: transparent none;
}

.controls button:hover,
.controls button:focus {
    opacity: 0.5;
}

.fs-info {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* fullscreen */

html:-ms-fullscreen {
    width: 100%;
}

:-webkit-full-screen {
    background-color: transparent;
}

video:-webkit-full-screen + .controls {
    background: #ccc; /* required for Chrome which doesn't heed the transparent value set above */
}

video:-webkit-full-screen + .controls progress {
    margin-top: 0.5rem;
}

/* hide native video controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls  {
    display: none !important;
}

figure[data-fullscreen = true] {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

figure[data-fullscreen = true] video {
    height: 100%;
}

figure[data-fullscreen = true] figcaption {
    display: none;
}

figure[data-fullscreen = true] .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 2147483647;
}
figure[data-fullscreen = true] .controls button {
    color: white;
}
figure[data-fullscreen = true] .controls #light[data-state = "off"] {
    color: white;
}
figure[data-fullscreen = true] .controls #pan-tilt-button[data-state = "off"] {
    color: white;
}

figure[data-fullscreen = true] .fs-info {
    visibility: visible;
    color: white;
    position: absolute;
    width: auto;
    top: 10px;
    right: 10px;
    z-index: 2147483647;
}

figure[data-fullscreen = true] .controls li {
    width: 5%;
}

#light[data-state = "on"] {
    color: red;
}

#light[data-state = "off"] {
    color: black;
}

#audiolevel {
    padding: 5%;
    width: 100%;
    height: 150px;
}

#temperature {
    height: 150px;
}

#humidity {
    height: 150px;
}

#videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#pan-tilt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 300000;
    background: rgba(255, 255, 255, 0.5);
    touch-action: none;
}

#pan-tilt-overlay[data-state = hidden] {
    display: none;
}

#pan-tilt-overlay[data-state = visible] {
    display: block;
}
#pan-tilt-button[data-state = "on"] {
    color: red;
}

#pan-tilt-button[data-state = "off"] {
    color: black;
}

#pan-tilt-dot {
    background: #69c;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#pan-tilt-dot.move {
    background: #9cf;
}
