* {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 10px;
    line-height: 2;
    font-family: 'Arial', 'Helvetica', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    position: relative;
  }
  
  #dot {
    background: #69c;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  #dot.move {
    background: #9cf;
  }